<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.soonsky.beauty" version="1.0">
	<name>Demo</name>
	<description></description>
	<gap:platforms>
		<gap:platform name="android" minVersion="2.2" />
	</gap:platforms>
	<icon src="img_icon.png" width="36" height="36"/>
	<icon src="img_icon.png" width="48" height="48"/>
	<icon src="img_icon.png" width="72" height="72"/>
	<feature name="http://api.phonegap.com/1.0/network" />
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="universal" />
</widget>
